@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

nav .active {
    @apply bg-zinc-600 text-zinc-100;
}

.text-shadow-100 {
    text-shadow: 1px 1px 2px #f3f4f6;
}

.text-shadow-300 {
    text-shadow: 1px 1px 2px #d4d4d8;
}
